<style>
    .btn-just-icon {
        border-width: 0px !important;
    }
</style>
<div class="main-content">
    <div class="container-fluid">

        <!-- __________________________________ All Enabled user  ____________________________ -->
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title mt-0">Enabled User List</h4>
                            <p class="card-category"> Here is list user is enabled</p>
                        </div>
                        <button class="btn btn-primary btn-sm" style="height:50px;width:90px" (click)="showActiveUser = !showActiveUser">Show</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="showActiveUser">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Enabled
                                </th>
                                <th>
                                    Firstname
                                </th>
                                <th>
                                    Lastname
                                </th>
                                <th>
                                    Avatar
                                </th>
                                <th>
                                    Roles
                                </th>
                                <th>
                                    Is Admin?
                                </th>
                            </thead>
                            <tbody *ngFor="let user of enabledUsers">
                                <tr>
                                    <td>
                                        {{user.id}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input id="activeCheckbox" type="checkbox" value="" checked (change)="onDisabled(user.id, user, $event)">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        {{user.firstName}}
                                    </td>
                                    <td>
                                        {{user.lastName}}
                                    </td>
                                    <td>
                                        {{user.avatar}}
                                    </td>
                                    <td>
                                        {{user.roles}}
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input id="activeCheckbox center" type="checkbox" value="" *ngIf="isAdmin(user)" checked (change)="updateRole(user.id, user, $event)">
                                              <input id="activeCheckbox center" type="checkbox" value="" *ngIf="!isAdmin(user)" (change)="updateRole(user.id, user, $event)">
                                              <span class="form-check-sign">
                                                  <span class="check"></span>
                                              </span>
                                          </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- __________________________________ All Disabled user  ____________________________ -->
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title mt-0">Disabled User List</h4>
                            <p class="card-category"> Here is list user is disabled</p>
                        </div>
                        <button class="btn btn-primary btn-sm" style="height:50px;width:90px" (click)="showDisabledUser = !showDisabledUser">Show</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="showDisabledUser">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Enabled
                                </th>
                                <th>
                                    Firstname
                                </th>
                                <th>
                                    Lastname
                                </th>
                                <th>
                                    Avatar
                                </th>
                                <th>
                                    Roles
                                </th>
                                <th>
                                    Delete
                                </th>
                            </thead>
                            <tbody *ngFor="let user of disabledUsers">
                                <tr>
                                    <td>
                                        {{user.id}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input id="activeCheckbox" type="checkbox" value="" (change)="onEnabled(user.id, user, $event)">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        {{user.firstName}}
                                    </td>
                                    <td>
                                        {{user.lastName}}
                                    </td>
                                    <td>
                                        {{user.avatar}}
                                    </td>
                                    <td>
                                        {{user.roles}}
                                    </td>
                                    <td>
                                        <svg style="color: darkred; font-size: medium;;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="deleteUser(user.id)">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                      </svg>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>