<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Register</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>My Account / REgister</h1>
        <p>Register to create your book!</p>
        <div class="form">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
                        <span class="required-star">*</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" placeholder="Enter password" required>
                        <span class="required-star">*</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="text" formControlName="firstname" class="form-control" placeholder="Enter your firstname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" formControlName="lastname" class="form-control" placeholder="Enter your lastname">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                        <h5>Registered? <a [routerLink]="['/authentication/login']" routerLinkActive="router-link-active">Login here</a></h5>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>