<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Creat Book</span>
    </div>
</div>

<!-- <app-book-form [form]="bookForm" (submitEmitter)="onSubmitForm($event)"></app-book-form> -->

<section class="static about-sec">
    <div class="container">
        <h1>Create A New Book</h1>
        <p>Your new book!</p>
        <div class="form">
            <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="title">Title<span class="required-star"> *</span></label>
                        <input type="text" formControlName="title" class="form-control" placeholder="Enter book's title" required>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="author">Author<span class="required-star"> *</span></label>
                        <input type="text" formControlName="author" class="form-control" placeholder="Enter book's author" required>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="description">Description<span class="required-star"> *</span></label>
                        <textarea type="text" formControlName="description" class="form-control" placeholder="Enter description for book" required></textarea>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="image">Image<span class="required-star"> *</span></label>
                        <input type="text" formControlName="image" class="form-control" placeholder="Url of book's image" required>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>