<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="index.html">Home</a>
        <span class="breadcrumb-item active">Book Detail</span>
    </div>
</div>
<section class="product-sec">
    <div class="container">
        <h1>{{ book?.title }}</h1>
        <div class="row" *ngIf="book">
            <div class="col-md-5 slider-sec">
                <!-- main slider carousel -->
                <div id="myCarousel" class="carousel slide">
                    <img src="{{book.image}}" class="img-fluid">
                </div>
                <!--/main slider carousel-->
            </div>
            <div class="col-md-6 slider-content">
                <p></p>
                <div class="row">
                    <ul>
                        <li>
                            <span class="name">Tác giả</span><span class="clm">:</span>
                            <span class="price final">{{book.author}}</span>
                        </li>
                        <li>
                            <span class="name">Ngày tạo</span><span class="clm">:  </span> {{book.createAt | date: 'short'}}
                        </li>
                        <li>
                            <span class="name">Cập nhật</span><span class="clm">:  </span> {{book.updateAt | date: 'short'}}
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <p>{{book.description}}...</p>
                </div>
            </div>
        </div>

        <hr>

        <!--Comments-->
        <div class="col-md-9">
            <!--Comments-->
            <div class="card card-comments mb-3 wow fadeIn">
                <div class="card-header font-weight-bold">{{comments.length}} comments</div>
                <div class="card-body">
                    <div class="media d-block d-md-flex mt-3" *ngFor="let comment of comments">
                        <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image" width="80px">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h5 class="mt-0 font-weight-bold">{{comment.author}} </h5>
                            <p style="color: gray; font-family: 'Courier New', Courier, monospace; font-size: 11px;">
                                {{comment.updateAt | date: 'short'}} {{comment.createAt == comment.updateAt? "":"- Đã cập nhật"}}
                            </p>
                            {{comment.message}}
                        </div>
                        <button mat-raised-button type="button" (click)="editButtonClick(comment.id)" matTooltip="Edit Task" class="btn btn-primary btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" (click)="deleteButtonClick(comment.id)" matTooltip="Remove" class="btn btn-danger btn-sm btn-just-icon">
                          <i class="material-icons">delete</i>
                        </button>
                        <hr>
                    </div>
                </div>
            </div>
            <!--/.Comments-->

            <!--Reply-->
            <div class="card mb-3 wow fadeIn">
                <div class="card-header font-weight-bold">Leave a reply</div>
                <div class="card-body">
                    <!-- Default form reply -->
                    <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                        <!-- Comment -->
                        <div class="form-group">
                            <label for="replyFormComment">Your comment</label>
                            <textarea formControlName="message" class="form-control" id="replyFormComment" rows="5"></textarea>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-info btn-md" *ngIf="!isUpdate">Post</button>
                            <button type="button" (click)="updateComment()" class="btn btn-warning btn-md" *ngIf="isUpdate">Update</button>
                        </div>
                    </form>
                    <!-- Default form reply -->
                </div>
            </div>
            <!--/.Reply-->
        </div>
    </div>
</section>