<style>
    .btn-just-icon {
        border-width: 0px !important;
    }
</style>
<div class="main-content">
    <div class="container-fluid">

        <!-- __________________________________ All Enabled book  ____________________________ -->
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title mt-0">Enabled Book List</h4>
                            <p class="card-category"> Here is list book is enabled</p>
                        </div>
                        <button class="btn btn-primary btn-sm" style="height:50px;width:90px" (click)="showEnabledBook = !showEnabledBook">Show</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="showEnabledBook">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <th (click)="getEnabledBook('id')">
                                    ID
                                </th>
                                <th (click)="getEnabledBook('title')">
                                    Title
                                </th>
                                <th (click)="getEnabledBook('author')">
                                    Author
                                </th>
                                <th>
                                    Description
                                </th>
                                <th (click)="getEnabledBook('createAt')">
                                    CreateAt
                                </th>
                                <th (click)="getEnabledBook('updateAt')">
                                    UpdateAt
                                </th>
                                <th>
                                    Image
                                </th>
                                <th (click)="getEnabledBook('userId')">
                                    UserId
                                </th>
                                <th>
                                    Enabled
                                </th>
                            </thead>
                            <tbody *ngFor="let book of enabledBooks">
                                <tr>
                                    <td>
                                        {{book.id}}
                                    </td>
                                    <td>
                                        {{book.title}}
                                    </td>
                                    <td>
                                        {{book.author}}
                                    </td>
                                    <td>
                                        {{book.description}}
                                    </td>
                                    <td>
                                        {{book.createAt | date: 'short'}}
                                    </td>
                                    <td>
                                        {{book.updateAt | date: 'short'}}
                                    </td>
                                    <td>
                                        <img src="{{book.image}}" style="width: 40px; height: 55px;" alt="">
                                    </td>
                                    <td>
                                        {{book.userId}}
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <!-- <label class="form-check-label"> -->
                                            <input id="activeCheckbox" class="form-check-input" type="checkbox" value="" checked (change)="onDisabled(book.id, book, $event)">
                                            <span class="form-check-sign">
                                                    <span class="check"></span>
                                            </span>
                                            <!-- </label> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!-- __________________________________ All Disabled user  ____________________________ -->
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title mt-0">Disabled Book List</h4>
                            <p class="card-category"> Here is list book is disabled</p>
                        </div>
                        <button class="btn btn-primary btn-sm" style="height:50px;width:90px" (click)="showDisabledBook = !showDisabledBook">Show</button>
                    </div>
                </div>
                <div class="card-body" *ngIf="showDisabledBook">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                                <th (click)="getDisabledBook('id')">
                                    ID
                                </th>
                                <th (click)="getDisabledBook('title')">
                                    Title
                                </th>
                                <th (click)="getDisabledBook('author')">
                                    Author
                                </th>
                                <th>
                                    Description
                                </th>
                                <th (click)="getDisabledBook('createAt')">
                                    CreateAt
                                </th>
                                <th (click)="getDisabledBook('updateAt')">
                                    UpdateAt
                                </th>
                                <th>
                                    Image
                                </th>
                                <th (click)="getDisabledBook('userId')">
                                    UserId
                                </th>
                                <th>
                                    Enabled
                                </th>
                                <th>
                                    Delete
                                </th>
                            </thead>
                            <tbody *ngFor="let book of disabledBooks">
                                <tr>
                                    <td>
                                        {{book.id}}
                                    </td>
                                    <td>
                                        {{book.title}}
                                    </td>
                                    <td>
                                        {{book.author}}
                                    </td>
                                    <td>
                                        {{book.description}}
                                    </td>
                                    <td>
                                        {{book.createAt | date: 'short'}}
                                    </td>
                                    <td>
                                        {{book.updateAt | date: 'short'}}
                                    </td>
                                    <td>
                                        <img src="{{book.image}}" style="width: 40px; height: 55px;" alt="">
                                    </td>
                                    <td>
                                        {{book.userId}}
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input id="activeCheckbox" class="form-check-input" type="checkbox" value="" (change)="onEnabled(book.id, book, $event)">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <svg style="color: darkred; font-size: medium;;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="deleteBook(book.id)">
                                          <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                        </svg>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>