<div class="login-dialog">
    <h1 mat-dialog-title>Login</h1>
</div>
<div mat-dialog-content>
    <mat-form-field class="form-field">
        <mat-label>Your email?</mat-label>
        <input matInput [(ngModel)]="data.email" style="width: 500px;">
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
        <mat-label>Your password?</mat-label>
        <input matInput [(ngModel)]="data.password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button class="btn btn-outline-primary" mat-button (click)="onNoClick()">No Thanks</button>
    <button class="btn btn-success btn-lg" mat-button [mat-dialog-close]="data" cdkFocusInitial>Login</button>
</div>