.login-dialog {
    background-color: lightgreen;
    vertical-align: middle;
    margin-top: 15px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration-style: solid;
    text-shadow: rgb(55, 205, 50);
}

.form-field {
    width: 100%;
}