ul {
  list-style: none;
}

ul li a .active {
  opacity: 0.7;
}

.product-quantity {
  font-family: inherit;
  color: #646464;
  width: 180px;
}

.product-quantity .clm {
  width: 5px;
}

.quantity-input {
  border: 1px solid #646464;
  height: 40px;
  width: 60px;
  font-size: 20px;
  border-right: none;
  border-left: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.btn-minus,
.btn-plus {
  border: 1px solid #646464;
  color: #646464;
  height: 40px;
  width: 50px;
  font-size: 26px;
  background-color: white;
}

.btn-minus {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.btn-plus {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.detail-infor-product {
  font-family: inherit;
  width: 180px !important;
}

.value-infor-product {
  font-family: inherit;
}

.card-question {
  display: block;
}

.qna-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 25px;
}

.input-question-product {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  float: left;
  height: 40px;
  width: 860px;
  padding: 0 10px;
}

.btn-question-product {
  padding: 0;
  border-radius: 4px;
  float: right;
  font-size: 13px;
  width: 154px;
  height: 40px;
  text-align: center;
}

.qna-list {
  display: inherit;
  padding-top: 30px;
  color: #646464;
}

ngb-rating {
  font-size: 20px;
  color: yellow;
}

.review {
  .top {
    display: flex;
    vertical-align: middle;
    .avatar {
      width: 32px;
      height: 32px;
    }
  }
  .review-content {
    margin-left: 30px;
    .middle {
      margin-bottom: 5px;
      .verify {
        color: #4caf50;
        font-size: 12px;
      }
    }
  }
}

.question {
  .top {
    display: flex;
    vertical-align: middle;
    .avatar {
      width: 32px;
      height: 32px;
    }
  }
  .question-content {
    margin-left: 38px;
    .reply {
      display: flex;
      color: #64646471;
      position: relative;
      .i-reply {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 18px;
      }
      .answer {
        margin-left: 28px;
        padding: 12px 10px 5px;
        background: #6464642b;
        border-radius: 12px;
        color: black;
      }
    }
  }
}
